<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv=”Pragma” content=”no-cache”>
    <meta http-equiv=”Expires” content=”-1″>
    <meta http-equiv=”CACHE-CONTROL” content=”NO-CACHE”>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{{staticURL}}css/animate.css">
    <link rel="stylesheet" href="{{staticURL}}css/light-modal.css">
    <link rel="stylesheet" href="{{staticURL}}css/main.css">
</head>
<body>
    <script>
        document.addEventListener("DOMContentLoaded", function(ev){
            window.location = "#modal-id-2";
        });
    </script>
    <div class="light-modal" id="modal-id-2" role="dialog" aria-labelledby="light-modal-label" aria-hidden="false">
        <div class="light-modal-content  animated zoomInUp">
            <!-- light modal header -->
            <div class="light-modal-header">
                <h3 class="light-modal-heading">Fake API</h3>
                <a href="{{cancelURL}}" class="light-modal-close-icon" aria-label="close">&times;</a>
            </div>
            <!-- light modal body -->
            <div class="light-modal-body">
                <h3>Покупка  в приложении</h3>
                <img src="{{image}}" alt="{{item}}"/>
                <p> Вы покупаете товар:</p>
                <p><span>{{title}}</span>{{#if discount}}(-{{discount}}%){{/if}}</p>
                <p>«{{description}}»</p>
                <p>Стоимость покупки:<span>{{price}}</span>у.е.</p>
                <p>На счету:<span>{{cash}}</span> у.е.</p>
            </div>
            <!-- light modal footer -->
            <div class="light-modal-footer">
                <a href="{{buyURL}}" class="light-modal-close-btn" aria-label="close">Купить</a>
            </div>
        </div>
    </div>
</body>
</html>
